# Ignore directories for wing_propeller_interaction project

.idea/

VSP/Steady/
VSP/UnSteady/
VSP/test_model/
VSP/airfoil/
VSP/fuselage/
VSP/_pycache_/
VSP/validation/

Lifting_Line/LILI/archive/
Lifting_Line/bem_solver/APC_Propeller_data/
Lifting_Line/LILI/atr72-500_out/
Lifting_Line/LILI/Do328_out/
Lifting_Line/_pycache_/
Lifting_Line/VALIDATION/

Lifting_Line/CPACS4LILI.log
Lifting_Line/CPACS4LILI_Distribution.plt
Lifting_Line/CPACS4LILI_Geometry.plt
Lifting_Line/CPACS4LILI_Total.plt

Lifting_Line/output
Lifting_Line/output.json
Lifting_Line/example_slipstream.xlsx
Lifting_Line/TIGL.log
Lifting_Line/atr72.inp
Lifting_Line/atr72_prop.inp